<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <div style="display: block" *ngIf='signalRService.data'>
    <!-- <br><br>
    <ul>
      <li *ngFor='let data of signalRService.bradcastedData'>
        <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
      </li>
    </ul> -->
    
 </div>

</body>
</html>